<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mounacheikhna.xebiaproject">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:name=".HenriPotierApp"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:supportsRtl="true"
      android:theme="@style/HenriPotier">

    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:theme="@style/HenriPotier.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".ui.book.BookActivity"
        android:theme="@style/HenriPotier.BookActivity"/>

    <activity android:name=".ui.buy.BuyBook"
        android:theme="@style/HenriPotier.Translucent.BuyBook"/>
  </application>

</manifest>
