<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mounacheikhna.xebiaproject">

  <application
      android:name=".DebugHenriPotierApp"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:supportsRtl="true"
      android:theme="@style/HenriPotier"
      tools:replace="android:name">

  </application>

</manifest>
